fieldset legend {
  cursor: pointer;
  width: 100%;
  padding: 0px 10px;
  margin-bottom: 0px;
}

fieldset .options {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

fieldset .options > div {
  margin-bottom: 5px;
}

fieldset .options input {
  height: 1em;
  max-height: 1em;
  min-height: 1em;
  width: 1em;
  max-width: 1em;
  min-width: 1em;
}

fieldset.collapsed .options {
  max-height: 250px;
  padding-top: 3px;
}