ol li.grid {
  grid-template-columns: 90% 8%;
  grid-gap: 2%;
}

.delete-ingredient {
  height: calc(1rem * var(--pico-line-height) + var(--pico-form-element-spacing-vertical) * 2 + var(--pico-border-width) * 2);
}

[type=button].delete-ingredient {
  margin-bottom: -5px !important;
}

.delete-instruction, .delete-ingredient {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  max-height: 2rem;
  align-self: center;
}

li.grid:hover .delete-instruction,
li.grid:hover .delete-ingredient {
  opacity: 1;
}

.ingredient-list li {
  grid-template-columns: auto 20% 20% 8%;
  align-items: end;
}

.ingredient-list li span{
  align-self: start;
  margin: auto 0;
  font-weight: bold;
}

.ingredient-list li:hover span{
  text-decoration: underline;
}

form .instruction-list {
  margin: 20px 0px;
}