* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --w: 7vw;
	--h: calc(var(--w) / 2);
	--br: calc(var(--w) / 1);
  --size: calc(var(--w) / 3);
	--offset: calc(var(--w) / 12);
  --focus: #002a2a;
}

body, .main-container {
  z-index: 0;
  position: relative;
}

.main-container {
  position: relative;
}

.hidden {
  display: none;
}

/* PicoCSS Overrides */
[data-theme=light], :root:not([data-theme=dark]) {
  --pico-primary: #111111 !important;
  --pico-primary-rgb: 17, 17, 17 !important;
  --pico-primary-hover: #29273f !important;
  --pico-primary-background: var(--pico-primary) !important;
  --pico-primary-hover-background: #29273f !important;
  --pico-primary-hover-border: #000 !important;
  --pico-primary-inverse: #f0f0f0 !important;
  --pico-primary-inverse-rgb: 240, 240, 240 !important;
}

[data-theme=dark], :root:not([data-theme=light]) {
  --pico-primary: #f0f0f0 !important;
  --pico-primary-rgb: 240, 240, 240 !important;
  --pico-primary-hover: #f0f0f0 !important;
  --pico-background-color: #111111 !important;
  --pico-card-background-color: #111111 !important;
  --pico-form-element-background-color: #111111 !important;
  --pico-primary-background: var(--pico-primary) !important;
  --pico-primary-hover-background: #adabab !important;
  --pico-primary-inverse: #111111 !important;
  --pico-primary-inverse-rgb: 17, 17, 17 !important;
  --pico-primary-hover-border: #111111 !important;
}

[data-theme=dark], [data-theme=light] {
  --pico-line-height: 1 !important;
  --pico-form-element-spacing-vertical: 0.5rem !important;
}

nav li [role=button], nav li [type=button], nav li button, nav li input:not([type=checkbox],[type=radio],[type=range],[type=file]), nav li select {
  height: var(--h) !important;
  min-height: 30px !important;
}

details.dropdown summary+ul li a {
  cursor: pointer !important;
}